.hero {
  display: flex;
  align-items: center;
  padding-bottom: 100px;
}
.heroTitle {
  font-size: 3.5rem;
  margin-top: 90px;
}
.accent {
  color: #ff9a53;
}

.subtitle {
  color: #646464;
  margin-top: 30px;
  margin-bottom: 40px;
}
