.input {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #eaeaea;
  line-height: 22px;
  display: block;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 5px;
}
.input::placeholder {
  color: #a0a0a0;
}

.mainButton {
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: #7cd2d7;
  border: none;
  width: 100%;
  border-radius: 9px;
  font-size: 17px;
  line-height: 26px;
  font-weight: 600;
  padding: 9px 126px;
  cursor: pointer;
  margin-top: 50px;
}
.form {
  background-color: #fff;
  padding: 70px 100px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 15px;
}
.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0;
}
.subtitle {
  color: #a0a0a0;
  font-weight: 300;
  margin-top: 15px;
}

.link {
  color: #7cd2d7;
  font-weight: 500;
  cursor: pointer;
}

.inputError {
  text-align: left;
  color: #ff5b5b;
}
