.section {
  background-color: #fff;
  margin: 50px auto;
  max-width: 600px;
  padding: 70px;
  border-radius: 16px;
  text-align: center;
}

.title {
  font-size: 4rem;
  margin-bottom: 0;
}

.redirect {
  color: #aeaeae;
}

.link {
  color: #7cd2d7;
  font-weight: 500;
}

.mainButton {
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: #7cd2d7;
  border: none;
  border-radius: 9px;
  font-size: 17px;
  line-height: 26px;
  font-weight: 600;
  padding: 9px 70px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 15px;
}

.authImg {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 400px;
}
