.title {
  font-size: 2rem;
  padding: 20px;
}
.sectionTitle {
  display: flex;
  align-items: center;
  gap: 10px;
}
.shopCount {
  background-color: rgb(231, 230, 230);
  border-radius: 60px;
  color: rgb(12, 12, 12);
  padding: 2px 8px;
  font-size: 12px;
}

.shopsList {
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
}
