.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 20px;
}
.navLink {
  list-style: none;
  display: inline-block;
  font-weight: 300;
  padding: 0 30px;
}
.logo {
  font-size: 1.8rem;
  font-weight: 600;
}
.logoIcon {
  color: #ff9a53;
}
.headerButtons {
  display: flex;
  gap: 10px;
}
