.header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  background-color: white;
}
.navLink {
  list-style: none;
  display: inline-block;
  font-weight: 300;
  padding: 0 30px;
}
.logo {
  font-size: 1.8rem;
  font-weight: 600;
}
.logoIcon {
  color: #ff9a53;
}
.mainButton {
  font-family: 'Poppins', sans-serif;
  background-color: #ff9a53;
  color: white;
  font-size: 0.8rem;
  border: none;
  border-radius: 8px;
  padding: 15px 25px;
}
