li {
  list-style-type: none;
}

.card {
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
    0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  border-radius: 8px;
  padding: 24px;
  width: 350px;
  height: 500px;
  transition: all 0.2s ease-out;
}
.card:hover {
  transform: scale(1.05);
}
.imageWrapper {
  height: 200px;
}

.cardImage {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pill {
  display: inline-block;
  background-color: #ffe7e3;
  color: #ff7661;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 16px;
  padding: 0 10px;
  margin-top: 28px;
}

.cardTitle {
  margin-top: 5px;
}

.subtitle {
  font-weight: 500;
  font-size: 16px;
  margin-top: 2px;
}

.description {
  color: #667085;
  line-height: 24px;
  margin-top: 2px;
  height: 80px;
  overflow: auto;
  word-wrap: break-word;
}

.description::-webkit-scrollbar {
  width: 4px;
}

.description::-webkit-scrollbar-thumb {
  background-color: #ff7661;
  border-radius: 60px;
  width: 2px;
}
