.loggedHero {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
.loggedHeroTitle {
  font-size: 3.5rem;
  margin-top: 30px;
}
.subtitle {
  color: #646464;
}

.accent {
  color: #ff7661;
}

.buttons {
  display: flex;
  gap: 20px;
  margin: 0 auto;
}

.heroImg {
  max-height: 700px;
}
