@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(124, 210, 215);
  background: linear-gradient(
    180deg,
    rgba(124, 210, 215, 1) 0%,
    rgba(197, 119, 255, 1) 100%
  );
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

textarea:focus,
input:focus {
  outline: none;
}
.container {
  margin: 0 auto;
  max-width: 1100px;
}
