.notFound {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0 100px;
}
.fourohfour {
  margin-top: 80px;
  font-size: 96px;
}
.title {
  font-size: 64px;
}
.subtitle {
  color: #646466;
  font-weight: normal;
  margin: 30px auto;
}
.notFoundImg {
  margin: 30px 20px;
}
